<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="macademy_customcheckout_save_shipping_address_extension_attributes" type="Macademy\CustomCheckout\Plugin\SaveShippingAddressExtensionAttributes"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="macademy_customcheckout_convert_quote_to_order_address" type="Macademy\CustomCheckout\Plugin\ConvertQuoteToOrderAddress"/>
    </type>
</config>
